{% extends "layout.html" %}
{% block container %}


<div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">

<div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">
    <table class="w-full text-sm text-left rtl:text-right text-body">
        <thead class="bg-neutral-secondary-soft border-b border-default">
            <tr>
                <th scope="col" class="px-6 py-3 font-medium">
                    nombre
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Apellido paterno
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    email
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Editar
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Eliminar
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Detalles
                </th>
                
            </tr>
        </thead>
        <tbody>
            {% for alum in alumnos %}
            <tr class="odd:bg-neutral-primary even:bg-neutral-secondary-soft border-b border-default">
                <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                    {{ alum.nombre }}
                </th>
                <td class="px-6 py-4">
                    {{ alum.apaterno }}
                </td>
                <td class="px-6 py-4">
                    {{ alum.email }}
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Editar</a>
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">modificar </a>
                </td>
                <td class="px-6 py-4">
                    <a href="detalles{{alum.id}}" class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Detalles</a>
                </td>
            </tr>
            {% endfor %}
        </tbody> 
    </table>
</div>

</div>

{% endblock %}